In [59]:
import pandas as pd
import numpy as np

In [61]:
jan_bins = np.array([0,1,2,3,4,5,6,7])

In [68]:
col_list = ['UserId', 'FirstName', 'LastName', 'TotalCheckins']

jan_df = pd.read_csv('Resources/Jan_checkins.csv', usecols=col_list)
#jan_df["# of classes"] = pd.cut(jan_df.TotalCheckins, jan_bins)
#jan_df
jan_df.dtypes

UserId            int64
LastName         object
FirstName        object
TotalCheckins     int64
dtype: object

In [53]:
feb_df = pd.read_csv('Resources/Feb_checkins.csv', usecols=col_list)
feb_df

       UserId      LastName FirstName  TotalCheckins
0    75524645           Acy    Trevor             15
1    87585364         Adams     Elyse              0
2    87506651         Adams     Emily              0
3    75524705         Adams   Heather             10
4    75524434         Ahler   Cameron             10
..        ...           ...       ...            ...
290  75524649          Wood      Matt             15
291  85651924         Woods  Jonathan              0
292  75524588  Zegiestowsky      Tina             18
293  86762185      Zimmitti   Anthony              0
294  75524482        Zirkle     Molly             12

[295 rows x 4 columns]

In [55]:
mar_df = pd.read_csv('Resources/March_checkins.csv', usecols=col_list)
mar_df.head

<bound method NDFrame.head of        UserId      LastName FirstName  TotalCheckins
0    75524645           Acy    Trevor             20
1    87585364         Adams     Elyse              0
2    87506651         Adams     Emily              0
3    75524705         Adams   Heather             14
4    75524434         Ahler   Cameron              1
..        ...           ...       ...            ...
290  75524649          Wood      Matt             13
291  85651924         Woods  Jonathan              0
292  75524588  Zegiestowsky      Tina             20
293  86762185      Zimmitti   Anthony              0
294  75524482        Zirkle     Molly             13

[295 rows x 4 columns]>

In [56]:
april_df = pd.read_csv('Resources/April_checkins.csv', usecols=col_list)
april_df

       UserId      LastName FirstName  TotalCheckins
0    75524645           Acy    Trevor             16
1    87585364         Adams     Elyse              0
2    87506651         Adams     Emily              0
3    75524705         Adams   Heather             12
4    75524434         Ahler   Cameron              7
..        ...           ...       ...            ...
290  75524649          Wood      Matt              5
291  85651924         Woods  Jonathan              5
292  75524588  Zegiestowsky      Tina             16
293  86762185      Zimmitti   Anthony              0
294  75524482        Zirkle     Molly              9

[295 rows x 4 columns]

In [57]:
may_df = pd.read_csv('Resources/May_checkins.csv', usecols=col_list)
may_df.head

<bound method NDFrame.head of        UserId      LastName FirstName  TotalCheckins
0    75524645           Acy    Trevor             17
1    87585364         Adams     Elyse              0
2    87506651         Adams     Emily              0
3    75524705         Adams   Heather             15
4    75524434         Ahler   Cameron             11
..        ...           ...       ...            ...
290  75524649          Wood      Matt              0
291  85651924         Woods  Jonathan             12
292  75524588  Zegiestowsky      Tina             16
293  86762185      Zimmitti   Anthony              0
294  75524482        Zirkle     Molly             13

[295 rows x 4 columns]>